*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
/.idea
build
semitone/.cxx/
semitone/lib/ffmpeg
semitone/.cxx/**/CMakeFiles/
semitone/.cxx/**/lib/
semitone/lib/ffmpeg/**
